name: CI

on:
  workflow_dispatch:

  push:
    branches: ['main']
    tags: ['v*']

  pull_request:
    branches: ['main']

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  stable:
    uses: ./.github/workflows/_base.yml
    with: { profile: stable, command: ci-stable }

  nightly:
    uses: ./.github/workflows/_base.yml
    with: { profile: nightly, command: ci-nightly }

  msrv:
    uses: ./.github/workflows/_base.yml
    with: { profile: msrv, command: ci-msrv }

  cross_stable:
    strategy: { matrix: { os: [windows-latest, macos-latest] } }

    uses: ./.github/workflows/_base.yml
    with: { profile: stable, command: ci-stable, runner: '${{ matrix.os }}' }

  cross_nightly:
    strategy: { matrix: { os: [windows-latest, macos-latest] } }

    uses: ./.github/workflows/_base.yml
    with: { profile: nightly, command: ci-nightly, runner: '${{ matrix.os }}' }

  cross_msrv:
    strategy: { matrix: { os: [windows-latest, macos-latest] } }

    uses: ./.github/workflows/_base.yml
    with: { profile: msrv, command: ci-msrv, runner: '${{ matrix.os }}' }

  doc:
    uses: ./.github/workflows/_base.yml
    with: { profile: stable, command: ci-doc }

  fmt:
    uses: ./.github/workflows/_base.yml
    with: { profile: nightly, command: ci-fmt }

  lint:
    uses: ./.github/workflows/_base.yml
    with: { profile: stable, command: ci-lint }

  semver:
    uses: ./.github/workflows/_base.yml
    with: { profile: stable, command: ci-semver }

  clippy:
    uses: ./.github/workflows/_base.yml
    with: { profile: stable, command: ci-clippy }

  audit:
    uses: ./.github/workflows/_base.yml
    with: { profile: stable, command: ci-audit }

  vet:
    uses: ./.github/workflows/_base.yml
    with: { profile: stable, command: ci-vet }

  hack:
    uses: ./.github/workflows/_base.yml
    with: { profile: stable, command: ci-hack }

  udeps:
    uses: ./.github/workflows/_base.yml
    with: { profile: stable, command: ci-udeps }

  bloat:
    uses: ./.github/workflows/_base.yml
    with: { profile: stable, command: ci-bloat }

  coverage:
    secrets: inherit
    needs:
      [
        stable,
        nightly,
        msrv,
        cross_stable,
        cross_nightly,
        cross_msrv,
        doc,
        lint,
        semver,
        clippy,
        audit,
        vet,
        hack,
        udeps,
        bloat,
      ]

    uses: ./.github/workflows/_base.yml
    with: { profile: stable, command: ci-coverage }

  publish:
    secrets: inherit
    needs: [coverage]

    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')

    uses: ./.github/workflows/_base.yml
    with: { profile: stable, command: ci-publish }
