name: Fuzz

on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *'

concurrency:
  group: fuzz-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  fuzz:
    uses: ./.github/workflows/_base.yml
    with: { profile: nightly, command: ci-fuzz --timeout 3600 --len 10000 }
