name: Labeler

on:
  pull_request_target:
    types: [opened, reopened, synchronize, ready_for_review]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  label:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/labeler@v6
        with:
          configuration-path: .github/labeler.yml
          sync-labels: true
