name: Labels

on:
  push:
    branches: [main]
    paths:
      - .github/labels.yml

  pull_request:
    paths:
      - .github/labels.yml

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  issues: write

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: labels
        uses: crazy-max/ghaction-github-labeler@v5.3.0
        with:
          yaml-file: .github/labels.yml
          dry-run: ${{ github.event_name == 'pull_request' }}
