name: labels

on:
  push:
    branches: ['main']

    paths:
      - '.github/labels.yml'
      - '.github/workflows/labels.yml'

  pull_request:
    paths:
      - '.github/labels.yml'
      - '.github/workflows/labels.yml'

  workflow_dispatch:

permissions:
  contents: read
  issues: write

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Sync labels
        uses: crazy-max/ghaction-github-labeler@v5.3.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: .github/labels.yml
          dry-run: ${{ github.event_name == 'pull_request' }}
